{% extends 'dm/base.html' %}

{% block head %}
    <title>Change Password</title>
{% endblock %}

{% block content %}
    <div class="ui form error segment">
        <h1>Change Password</h1>
        <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="ui error message">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="field">
            {{ form.otree_admin_password.errors }}
            {{ form.otree_admin_password.label_tag }}
            {{ form.otree_admin_password }}
        </div>
        <div class="ui fluid popup" id="password_rules">
            <ul>
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>
        </div>
        <div class="field">
            {{ form.password_2.errors }}
            {{ form.password_2.label_tag }}
            {{ form.password_2 }}
        </div>
        <p><b>Changing the admin password will reset the database!</b></p>
        <button class="ui red button" type="submit">Change Password</button>
         <a class="ui basic button" href="{% url 'index' %}">Go Back</a>
    </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('#id_new_password1').popup({
            inline: true,
            on: 'focus',
            popup: '#password_rules',
            position: 'bottom left'
        });
    </script>
{% endblock %}