{% extends 'dm/base.html' %}
{% block head %}
	<title>Detail view</title>
{% endblock%}
{% block content %}
	<div class="ui segment">
		<h1>{{ instance.name }}</h1>
		<p><b>Status Report</b></p>
		<table class="ui very basic compact table">
			<tbody>
				<tr>
					<td>Experimenter</td>
					<td>{{ instance.owned_by.first_name }} {{ instance.owned_by.last_name }}</td>
				</tr>
				<tr>
					<td>Git Repository URL</td>
					<td id="git_url">{{ instance.git_url }} </td>
				</tr>
				<tr>
					<td>Git SHA</td>
					<td id="git_sha">{{ instance.git_sha }}</td>
				</tr>
				<tr>
					<td>Deployed</td>
					<td id="deployed">{{ instance.deployed }}</td>
				</tr>
				<tr>
					<td>Deploy Source</td>
					<td id="deploy_source">{{ instance.deploy_source }}</td>
				</tr>
				<tr>
					<td>URL</td>
					<td id="url"><a href="{{ instance.url }}" target="_blank">{{ instance.url }}</td>
				</tr>
				<tr>
					<td>oTree Admin Username</td>
					<td id="admin_username">{{ instance.otree_admin_username }}</td>
				</tr>
				<tr>
					<td>oTree Admin Password</td>
					<td id="admin_password">{{ instance.otree_admin_password }}</td>
				</tr>
				<tr>
					<td>oTree Auth Level</td>
					<td id="auth_level">{{ instance.otree_auth_level }}</td>
				</tr>
				<tr>
					<td>oTree Production</td>
					<td id="otree_production">{{ instance.otree_production }}</td>
				</tr>
			</tbody>
		</table>
		<div>
			<span id="back_button_span"><a href="{%url 'index' %}" class="ui basic button">Go Back</a></span>
			<span id="reset_password_button">
				<a href="{% url 'reset_otree_password' instance_id=instance.id %}" class="ui basic blue button">Reset Admin Password</a>
			</span>
			<span id="restart_button_span">
			{% if permissions.can_restart and instance.deployed %}
				<a id="restart_button" class="ui orange basic button">Restart Instance</a>
			{% endif %}
			</span>
			<span id="delete_button_span">
			{% if permissions.can_delete %}
				<a id="delete_button" class="ui button negative">Delete Instance</a>
			{% endif %}
			</span>
		</div>
	</div>
	<div class="ui basic modal" id="restart_modal">
		<div class="ui icon header">
			<i class="redo alternate icon"></i>
			Restart oTree Instance
		</div>
		<div class="content">
			<p style="text-align: center;">Are you sure you want to restart this instance?</p>
		</div>
		<div class="actions">
			<div class="ui red inverted deny button">
				<i class="remove icon"></i>
				No
			</div>
			<div class="ui inverted basic approve button">
				<i class="checkmark icon"></i>
				Yes
			</div>
		</div>
	</div>
	<div class="ui basic modal" id="delete_modal">
		<div class="ui icon header">
			<i class="trash icon"></i>
			Delete oTree Instance
		</div>
		<div class="content">
			<p style="text-align: center;">Are you sure you want to delete this instance?</p>
		</div>
		<div class="actions">
			<div class="ui red inverted deny button">
				<i class="remove icon"></i>
				No
			</div>
			<div class="ui inverted basic approve button">
				<i class="checkmark icon"></i>
				Yes
			</div>
		</div>
	</div>
{% endblock %}

{%block scripts %}
	<script type="text/javascript">
		$(".ui.button.progress").on("click", function () {
			$(this).addClass('loading');
		});
		$("#delete_button").click(function () {
			$("#delete_modal").modal('setting', {
				onApprove: function () {
					$(".ui.approve.button").addClass('loading');
					$(".ui.deny.button").addClass("disabled");
					window.location.href = "/delete/{{ instance.id }}";
					return false;
				},
				closable: false,
			}).modal('show');
		});
		$("#restart_button").click(function () {
			$("#restart_modal").modal('setting', {
				onApprove: function () {
					$(".ui.approve.button").addClass('loading');
					$(".ui.deny.button").addClass("disabled");
					window.location.href = "/restart/{{ instance.id }}";
					return false;
				},
				closable: false,
			}).modal('show');
		});
		function handle_ws_data(data, stream) {
			console.log(data);
			if (data["kind"] == "report") {
				var report_dict = data["report"];
				for (var key in report_dict) {
					$("#"+key).html(report_dict[key]);
				}
				if (report_dict['deployed'] == true) {
					$("#restart_button_span").html("<a id='restart_button' class='ui orange basic button'>Restart Instance</a>");
				}
			}
		}
	</script>
{% endblock %}