{% extends 'dm/base.html' %}
{% block head %}
    <title>App Creation</title>
    <style type="text/css">
        #app_name {
            width: 150px; 
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui segment">
        <h1>New Instance</h1>
        <form method="POST" action="/new_app/">
            {% csrf_token %}
            <div class="ui error form">
                {% if form.non_field_errors %}
                    <div class="ui error message">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <div class="field">
                    {{ form.name.label_tag }}
                    <div class="ui input">
                        {{ form.name }}
                    </div>
                    {% if form.name.errors %}
                    <div class="ui error message">
                        {{ form.name.errors }}
                    </div>
                    {% endif %}
                    
                </div>
                <div class="field">
                    {{ form.owned_by.label_tag }}
                    <div class="ui fluid search selection dropdown">
                        <input type="hidden" name="{{ form.owned_by.html_name }}">
                        <i class="dropdown icon"></i>
                        <div class="default text">Experimenters</div>
                        <div class="menu">
                            {% for choice, label in form.fields.owned_by.choices %}
                                {% if choice %}
                                    <div class="item" data-value="{{choice}}">{{ label }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if form.owned_by.errors %}
                    <div class="ui error message">
                        {{ form.owned_by.errors }}
                    </div>
                    {% endif %}
                </div>
                <button class="ui primary button">
                    Create
                </button>
                <a class="ui basic button" href="{% url 'index' %}">
                    Go Back
                </a>
            </div>
        </form>
    </div>
    <div class="ui popup" id="naming_rules">
        <p>
            Must only contain [a-Z, 0-9].
        </p>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('.ui.dropdown').dropdown({ 'fullTextSearch': 'exact'});
        $('#id_name').popup({
            inline: true,
            on: 'focus',
            popup: '#naming_rules',
            position: 'bottom left'
        });
    </script>
{% endblock %}