{% extends 'om/base_ws.html' %}
{% load static %}
{% block head %}
    <title>Detail view</title>
{% endblock%}
{% block menu %}
    <div class="item header">
        Details
    </div>
{% endblock %}
{% block content %}
    <div class="ui segment">

        <div class="ui stackable grid">
            <div class="fourteen wide column">
                <h1>
                    {% if instance.deployed %}
                        <i class="green hdd icon"></i> 
                    {% else %}
                        <i class="orange hdd icon"></i> 
                    {% endif %}
                    {{ instance.name }}
                </h1>
            
                <div class="ui accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        <b>Git Details</b>
                    </div>
                    <div class="content">
                        <div class="transition hidden">
                            <table class="ui very basic compact fixed table">                   
                                <tbody>
                                    <tr>
                                        <td class="four wide">Repository URL</td>
                                        <td class="twelve wide" id="git_url">{{ instance.git_url }} </td>
                                    </tr>
                                    <tr>
                                        <td>Latest Commit</td>
                                        <td id="git_sha">{{ instance.git_sha }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        <b>oTree Admin Details</b>
                    </div>
                    <div class="content">
                        <div class="transition hidden">
                            <table class="ui very basic compact fixed single line table">                   
                                <tbody>
                                    <tr>
                                        <td class="four wide">URL</td>
                                        <td class="twelve wide" id="url"><a href="{{ container_url }}" target="_blank">{{ container_url }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Username</td>
                                        <td id="admin_username">{{ instance.otree_admin_username }}</td>
                                    </tr>
                                    <tr>
                                        <td>Password</td>
                                        <td><span id="password"></span> <a id="password_toggle"><i id="password_toggle_icon" class="eye icon"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Auth Level</td>
                                        <td id="auth_level">{{ instance.otree_auth_level }}</td>
                                    </tr>
                                    <tr>
                                        <td>Production</td>
                                        <td id="otree_production">{{ instance.otree_production }}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        <b>oTree Room Details</b>
                    </div>
                    <div class="content">
                        <div class="transition hidden">
                            <table class="ui very basic compact fixed single line table">                   
                                <tbody>
                                    <tr>
                                        <td class="four wide">Room Name</td>
                                        <td class="twelve wide" id="otree_room">{{ instance.otree_room_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Participant Labels</td>
                                        <td id="otree_participant_labels">{{ otree_participant_labels }}</td>
                                    </tr>
                                    <tr>
                                        <td>Lobby URL</td>
                                        <td id="otree_room_lobby"><a href="{{ lobby_url }}" target="_blank">{{ lobby_url }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Download Lobby Shortcuts</td>
                                        <td id="otree_lobby_shortcuts">
                                            Chrome:
                                            <a href="{% url 'download_shortcuts' instance_name=instance.name os='win'%}" target="_blank"><i class="black bordered windows link icon"></i></a> 
                                            <a href="{% url 'download_shortcuts' instance_name=instance.name os='mac'%}" target="_blank"><i class="black bordered apple link icon"></i></a>
                                            <a href="{% url 'download_shortcuts' instance_name=instance.name os='linux'%}" target="_blank"><i class="black bordered linux link icon"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        <b>Miscellaneous</b>
                    </div>
                    <div class="content">
                        <div class="transition hidden">
                            <table class="ui very basic compact fixed table">                   
                                <tbody>
                                    <tr>
                                        <td class="four wide">Experimenter</td>
                                        <td class="twelve wide">
                                            {{ instance.owned_by.first_name }} {{ instance.owned_by.last_name }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Scaling</td>
                                        <td><span id="web_processes">{{ instance.web_processes }}</span>x web,
                                            <span id="worker_processes">{{ instance.worker_processes }}</span>x worker</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="two wide column right aligned">
                {% if instance.deployed %}
                <p>
                    <a href="{{ container_url }}" class="ui basic blue icon button" data-tooltip="Open"  data-position="left center" target="_blank">
                        <i class="external alterante icon"></i>
                    </a>
                </p>
                {% endif %}
                <p>
                    <a href="{% url 'change_otree_password' instance_id=instance.id %}" class="ui basic orange icon button" data-tooltip="Change Admin Password"  data-position="left center">
                        <i class="edit icon"></i>
                    </a>
                </p>
                <p>
                    <a href="{% url 'change_otree_room' instance_id=instance.id %}" class="ui basic pink icon button" data-tooltip="Setup Room"  data-position="left center">
                        <i class="desktop icon"></i>
                    </a>
                </p>
                <p>
                    <a id="restart_button" class="ui purple basic icon button" data-tooltip="Restart"  data-position="left center">
                        <i class="redo alternate icon"></i>
                    </a>
                </p>
                <p>
                    <a class="ui basic red icon button" data-tooltip="Reset Database" id="reset_database_button" data-position="left center">
                        <i class="database icon"></i>
                    </a>
                </p>
                {% if request.user.is_superuser %}
                    <p>
                        <a href="{% url 'scale_app' instance_id=instance.id %}" class="ui basic green icon button" data-tooltip="Scale"  data-position="left center">
                            <i class="boxes icon"></i>
                        </a>
                    </p>
                    <p>
                        <a id="delete_button" class="ui grey basic button icon" data-tooltip="Delete"  data-position="left center">
                            <i class="trash icon"></i>
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="ui basic modal" id="restart_modal">
        <div class="ui icon header">
            <i class="redo alternate icon"></i>
            Restart Container
        </div>
        <div class="content">
            <p style="text-align: center;">Are you sure you want to restart this container?</p>
        </div>
        <div class="actions">
            <div class="ui red inverted deny button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui inverted basic approve button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
    <div class="ui basic modal" id="delete_modal">
        <div class="ui icon header">
            <i class="trash icon"></i>
            Delete Container
        </div>
        <div class="content">
            <p style="text-align: center;">Are you sure you want to delete this container?</p>
        </div>
        <div class="actions">
            <div class="ui red inverted deny button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui inverted basic approve button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
    <div class="ui basic modal" id="reset_modal">
        <div class="ui icon header">
            <i class="database icon"></i>
            Reset Database
        </div>
        <div class="content">
            <p style="text-align: center;">Are you sure you want to reset the database?<br>This cannot be undone!</p>
        </div>
        <div class="actions">
            <div class="ui red inverted deny button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui inverted basic approve button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
{% endblock %}

{%block scripts %}
    <script type="text/javascript">
        $(".ui.button.progress").on("click", function () {
            $(this).addClass('loading');
        });
        $("#delete_button").click(function () {
            $("#delete_modal").modal('setting', {
                onApprove: function () {
                    $(".ui.approve.button").addClass('loading');
                    $(".ui.deny.button").addClass("disabled");
                    window.location.href = "{% url 'delete' instance_id=instance.id %}";
                    return false;
                },
                closable: false,
            }).modal('show');
        });
        $("#restart_button").click(function () {
            $("#restart_modal").modal('setting', {
                onApprove: function () {
                    $(".ui.approve.button").addClass('loading');
                    $(".ui.deny.button").addClass("disabled");
                    window.location.href = "{% url 'restart' instance_id=instance.id %}";
                    return false;
                },
                closable: false,
            }).modal('show');
        });
        $("#reset_database_button").click(function () {
            $("#reset_modal").modal('setting', {
                onApprove: function () {
                    $(".ui.approve.button").addClass('loading');
                    $(".ui.deny.button").addClass("disabled");
                    window.location.href = "{% url 'reset_database' instance_id=instance.id %}";
                    return false;
                },
                closable: false,
            }).modal('show');
        });
        function handle_ws_data(data, stream) {
            console.log(data);
            if (data["kind"] == "report") {
                var report_dict = data["report"];
                for (var key in report_dict) {
                    $("#"+key).html(report_dict[key]);
                }
            }
        }

        var admin_pass = "{{ instance.otree_admin_password }}";
        var hidden = "";
        var password_hidden = true;

        for (var i = 0; i < admin_pass.length; i++) {
            hidden += '∙';
        }

        $('#password').html(hidden);
        $('#password_toggle').click(function (e) {
            if (password_hidden) {
                $('#password_toggle_icon').addClass('slash');
                $('#password').html(admin_pass);
            } else {
                $('#password_toggle_icon').removeClass('slash');
                $('#password').html(hidden);
            }
            password_hidden = !password_hidden;
        });

        $('.ui.accordion').accordion({'exclusive': false});

        {% if instance.deployed %}
            $('.ui.accordion').accordion('open', 1);
        {% else %}
            $('.ui.accordion').accordion('open', 0);
        {% endif %}

        {% if instance.otree_room_name %}
            $('.ui.accordion').accordion('open', 2);
        {% endif %}
    </script>
{% endblock %}

{% block styles %}
    <style>
        .experimenter {
            font-size: 10pt;
            font-weight: normal;
        }
        #password_toggle {
            cursor: pointer;
        }
    </style>
{% endblock %}
