{% extends 'om/base.html' %}
{% load static %}
{% block head %}
    <title>Scale Dynos</title>
{% endblock %}
{% block menu %}
    <div class="item header">
        Scaling
    </div>
{% endblock %}
{% block content %}
    <div class="ui form error segment">
        <h1>Scale Processes</h1>
        <p>Typically, one web process and one worker process are enough for laboratory experiments. If an experiment requires more capacity, you can scale up the number of processes here.</p>
        <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="ui error message">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="field">
            {{ form.web_processes.errors }}
            {{ form.web_processes.label_tag }}
            {{ form.web_processes }}
        </div>
        
        <div class="field">
            {{ form.worker_processes.errors }}
            {{ form.worker_processes.label_tag }}
            {{ form.worker_processes }}
        </div>
        <button class="ui primary button" type="submit">Confirm</button>
    </form>
    </div>
{% endblock %}
