{% extends 'om/base.html' %}
{% load static %}
{% block head %}
    <title>Change Key File</title>
{% endblock %}

{% block menu %}
    <div class="item header">
        Key File
    </div>
{% endblock %}

{% block content %}
    <div class="ui form error segment">
        <h1>Change Key File</h1>
        <p>Please upload your ssh public key file to use for deploying your oTree code.<br/>
            Ask your Lab Manager for assistance if you are unsure about this.</br/>
            Typically it is located at ~/.ssh/id_rsa.pub</p>

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="ui error message">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="field">
            {{ form.public_key_file.errors }}
            <div class="ui action file input">
                <label for="id_public_key_file" id="filename">Select Public Key File</label>
                <input name="public_key_file" required="" id="id_public_key_file" type="file">
                <label for="id_public_key_file" class="ui icon button"><i class="attach icon"></i></label>
            </div>
        </div>
        <button class="ui primary button" type="submit">Set SSH Public Key</button>
    </form>
    </div>
{% endblock %}

{% block styles %}
    <style type="text/css">
        .ui.action.file.input > input { 
            display: none; 
        }
        .ui.action.file.input:not([class*="left action"]) > label { 
            border-top-right-radius: 0 !important; 
            border-bottom-right-radius: 0 !important; 
            border-right-color: transparent !important; 
        }
        .ui.action.file.input > label:first-child { 
            cursor: pointer; 
            width: auto; 
            -webkit-box-flex: 1; 
            -webkit-flex: 1 0 auto; 
            -ms-flex: 1 0 auto; 
            flex: 1 0 auto; 
            outline: 0; 
            -webkit-tap-highlight-color: rgba(255,255,255,0); 
            padding: .67861429em 1em; 
            background: #FFF; 
            border: 1px solid rgba(34,36,38,.15); 
            color: rgba(0,0,0,.87); 
            border-radius: .28571429rem; 
            -webkit-transition: box-shadow .1s ease,border-color .1s ease; 
            transition: box-shadow .1s ease,border-color .1s ease; box-shadow: none; 
        }
        .ui.action.file.input > label:last-child { 
            border-radius: 0 .28571429rem .28571429rem 0 !important; 
        }
    </style>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('input:file', '.ui.action.input').on('change', function (e) {
            var name = e.target.files[0].name;
            $('#filename').html(name);
        });
    </script>
{% endblock %}
