{% extends 'om/base_ws.html' %}
{% load static %}
{% block head %}
    <title>Users</title>
{% endblock%}

{% block menu %}
    <div class="item header">
        Users
    </div>
{% endblock %}

{% block content %}
    <table class="ui basic table">
        <thead>
            <tr>
                <th>Last Name, First Name</th>
                <th class="one wide">Admin</th>
            </tr>
        </thead>
    {% for user in user_list %}
        <tr>
            <td><a href="{% url 'edit_user' user_id=user.id %}">{{ user.last_name }}, {{ user.first_name }}</a>
                
            </td>
            <td class="top aligned">{% if user.is_superuser %}<i class="green check icon">{% else %}<i class="red times icon">{% endif %}</i></td>
           
        </tr>  
        
    {% endfor %}
    </table>
{% endblock %}


