{% extends 'om/base.html' %}
{% load static %}
{% block content %}
    <div class="ui form error segment">
      <h1>Passwort Reset</h1>
      <p>
        Please enter your e-mail address to reset your password.
      </p>
      <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="ui error message">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="field">
            {{ form.email.errors }}
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <button class="ui blue submit button" type="submit">Reset Password</button>
      </form>
    </div>
{% endblock %}
