{% extends 'om/base.html' %}

{% block styles %}
    <style type="text/css">
        .ui.container {
            width: 500px;
        }
    </style>
{% endblock %}

{% block head %}
    <title>Password Change Complete</title>
{% endblock %}

{% block content %}
    <div class="ui segment">
        <h1>Password Change Complete</h1>
        <p>
            Your password has been changed. <br/>
            You will be redirected to your <a href="{% url 'index' %}">dashboard</a>...
        </p>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        setTimeout(function() {
            window.location.href="{% url 'index' %}";
        }, 3000)
    </script>
{% endblock %}
