{% extends 'om/base.html' %}

{% block head %}
    <title>Scale Dynos</title>
{% endblock %}
{% block menu %}
    <div class="item header">
        Scaling
    </div>
{% endblock %}
{% block content %}
    <div class="ui form error segment">
        <h1>Scale Processes</h1>
        <p>Typically, one web process and one worker process are enough for laboratory experiments. If you need more capacity, you can scale up the number of processes here. Ask your Lab Manager if you are unsure.</p>
        <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="ui error message">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="field">
            {{ form.web_dynos.errors }}
            {{ form.web_dynos.label_tag }}
            {{ form.web_dynos }}
        </div>
        
        <div class="field">
            {{ form.worker_dynos.errors }}
            {{ form.worker_dynos.label_tag }}
            {{ form.worker_dynos }}
        </div>
        <button class="ui primary button" type="submit">Confirm</button>
    </form>
    </div>
{% endblock %}
