{% extends 'om/base.html' %}

{% block head %}
    <title>Edit User</title>
{% endblock %}
{% block menu %}
    <div class="item header">
        Edit User
    </div>
{% endblock %}
{% block content %}
    <div class="ui form error segment">
        <h1>Edit User</h1>
        
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="ui error message">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="field">
                {{ form.username.errors }}
                {{ form.username.label_tag }}
                <div class="ui disabled input">
                    {{ form.username }}
                </div>
            </div>
            <div class="field">
                {{ form.first_name.errors }}
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>
            <div class="field">
                {{ form.last_name.errors }}
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>
            <div class="field">
                {{ form.email.errors }}
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="field">
                {{ form.is_superuser.errors }}
                {{ form.is_superuser.label_tag }}
                {{ form.is_superuser }}
            </div>
            
            <button class="ui primary button" type="submit">Save</button> 
            {% if delete_ok %}
                <a id="delete_button" class="ui red basic button">
                    Delete User
                </a>
            {% endif %}
        </form>
    </div>
    {% if containers %}
        <div class="ui segment">
            <div class="ui accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    <b>Show Containers</b>
                </div>
                <div class="content">
                    <div class="transition hidden">
                        <div class="ui very simple list">
                            {% for container in containers %}
                                <div class="item">
                                    {% if container.deployed %}
                                        <i class="green hdd icon"></i> 
                                    {% else %}
                                        <i class="orange hdd icon"></i> 
                                    {% endif %}
                                    <div class="content">
                                        <a href="{% url 'detail' instance_id=container.id %}">{{ container.name }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    <div class="ui basic modal" id="delete_modal">
        <div class="ui icon header">
            <i class="trash icon"></i>
            Delete User
        </div>
        <div class="content">
            <p style="text-align: center;">Are you sure you want to delete this user?</p>
        </div>
        <div class="actions">
            <div class="ui red inverted deny button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui inverted basic approve button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('.ui.accordion').accordion({'exclusive': false})
        $("#delete_button").click(function () {
            $("#delete_modal").modal('setting', {
                onApprove: function () {
                    $(".ui.approve.button").addClass('loading');
                    $(".ui.deny.button").addClass("disabled");
                    window.location.href = "{% url 'delete_user' user_id=user.id %}";
                    return false;
                },
                closable: false,
            }).modal('show');
        });
    </script>
{% endblock %}

{% block styles %}

{% endblock %}


