{% extends 'om/base.html' %}
{% load static %}
{% block head %}
    <title>About</title>
{% endblock %}

{% block content %}
    <h1>About</h1>
    <p>
        oTree Manager is a software package initially written by Christian König gen. Kersting and published under the MIT License. Its source code is available on <a href="https://github.com/otree-manager/otree_manager" target="_blank">GitHub</a> and the documentation can be found hat <a href="http://docs.otree-manager.com" target="_blank">http://docs.otree-manager.com</a>.
    </p>
    <p>
        If oTree Manager made running experiments easier for you, please consider citing <a href="http://ckgk.de/files/K_oTree_Manager.pdf" target="_blank">the accompanying paper</a> when publishing your results:<br>
        König-Kersting, C. (2019) oTree Manager: Multi-user oTree installations made easy. Working Paper.
    </p>
    
{% endblock %}

