{% extends "om/base.html" %}
{% load static %}

{% block ws %}
    <script type='text/javascript'>
        String.prototype.capitalize = function() {
            return this.charAt(0).toUpperCase() + this.slice(1);
        };

        function notify(result, message) {
            console.log(result, message);
            
            switch (result) {
                case 'success':
                    type = 'success';
                    break;
                case 'warning':
                    type = 'warning';
                    break;
                case 'error':
                    type = 'error';
                    break;
                default:
                    type = 'info';
            }

            var type_capitalized = type.capitalize();

            var notification_id = 'notification_'+Date.now();

            var template = `\
            <div class='ui ${type} message' id='${notification_id}'>\
                <div class='header'>${type_capitalized}</div>\
                <p>${message}</p>\
            </div>`;
            
            $("#notifications_container").append(template);
            window.setTimeout(function () {
                $("#"+notification_id).transition('fade');
            }, 10000);
        }
    </script>
    <script type="text/javascript">
        // websocket replacement for websocket bridge from django channels
        var wsBridge = new WebSocket('ws://' + window.location.host + '/ws/');
        wsBridge.onmessage = function (e) {
            var data = JSON.parse(e.data);
            if (data['kind'] == 'notification') {
                notify(data['result'], data['message']);
            } else {
                if (typeof handle_ws_data === "function") {
                    handle_ws_data(data, stream);
                }
            }
        };

        wsBridge.onopen = function(e) {
            console.log('Connected to oTree Manager')
        };

        wsBridge.onclose = function(e) {
            console.error('Websocket closed unexpectedly');
        };
    </script>
{% endblock ws%}
