{% extends 'om/base.html' %}
{% load static %}
{% block head %}
    <title>Privacy</title>
{% endblock %}

{% block content %}
    <h1>Privacy</h1>

    <h2>Data Protection Information</h2>
    <p>
        Personal data is collected when you visit this website. The following paragraphs outline why and how the data is used and protected. They also inform you about your rights. Please feel free to contact me with any questions you might have.
    </p>

    <h2>Contact Details</h2>
    <p>
        This website is operated by Christian König gen. Kersting (Rehovotstr. 1, 69115 Heidelberg, Germany). Further contact information is available on the contact page.
    </p>

    <h2>Data Collection Purposes</h2>
    <p>
        Data collection and processing is required to serve this website. 
    </p>

    <h2>Data Access</h2>
    <p>
        Access to personal data is generally limited to Christian König gen. Kersting. However, operating this website requires sharing some data with the hosting provider domainfactory GmbH.
    </p>    

    <h2>Data Storage Period</h2>
    <p>
        Data is stored from the time you first provide it. Log files are rotated regularly and kept for a minimum of 3 months.
    </p>

    <h2>Your Rights</h2>
    <p>
        You have the right to request access to the data we store about you. You also have the right to request rectification or erasure of your personal data. You may also request restriction of data processing as well as object to your data being shared with any other party.
    </p>
    <p>
        In as far as I process data based on point (a) of Article 9(2) of the General Data Protection Regulation (GDPR), you have the right to withdraw your consent at any time, without affecting the lawfulness of processing based on consent before its withdrawal.
    </p>
    <p>
        You have the right to lodge a complaint with a supervisory authority.
    </p>

    <h2>Collected Data</h2>
    <p>
        We keep server access logs containing full http request headers, request origins (IPs) as well as timestamps. Collected data might also include your operating system and browser user-agent. The logs allow to track which pages were requested and whether the requests were served successfully. This data is not analyzed under normal circumstances. I reserve the right to analyze the data to be able to detect denial of service attacks and respond accordingly.
    </p>
    
{% endblock %}

